<html>
  <head></head>
  <body>
    <form action="/" method="post">
      <label for="text_input">Text to encode:</label>
      <input type="text" name="cipher_text" id="text_input" />
      <label for="key">Cipher key:</label>
      <input type="text" name="cipher_key" id="key" />
      <input type="submit" name="cipher_text" value="Cipher!" />
    </form>
  </body>
</html>
